body {
  background: #1a1a1a;
  color: #fff;
}

h1 {
  margin-top: 0;
  color: #fff;
}

h2 {
  margin: 0;
}

p {
  margin: 5px 0;
}

canvas {
  display: block;
  background: #2a2a2a;
  border: 2px solid #555 !important;
}
